<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.domain.manage.dao.FilesDAO">
	<!-- 전체 개수 가져오기 -->
	<select id="selectCount" resultType="int">
		select count(*) from files where ref = #{ref}
	</select>
	<!-- 해당 글의 파일 목록 가져오기 -->
	<select id="selectList" resultType="filesVO" parameterType="int">
		select * from files where ref = #{ref}
	</select>
	<!-- 1개 가져오기 -->
	<select id="selectByIdx" resultType="filesVO" parameterType="int">
		select * from files where idx = #{idx}
	</select>
	<insert id="insert" parameterType="filesVO">
		insert into files values( files_idx_seq.nextval, #{ref}, #{origName},#{saveName})
	</insert>
	<!-- 삭제하기 -->
	<delete id="deleteByIdx" parameterType="int">
		delete from files where idx = #{idx}
	</delete>
	
</mapper>